.add-blog-wrapper {
    .form-control {
        background: $light;
        font-size: 16px;
        height: 46px;
        padding: 10px 20px;
        border-radius: 3px;
        border: 1px solid rgba(0, 0, 0, .05);
    }

    .form-group {
        margin-bottom: 30px;

        @include respond('phone') {
            margin-bottom: 15px;
        }
    }

    textarea.form-control {
        height: 150px;
        padding-top: 20px;
    }
}